<main class='profile'>
  <button class='profile__nav'>
    <span class='material-icons'>chevron_left</span>
  </button>
  <section class='profile__content'>
    <form class='shadow'>
      <input type='file' name='avatar' />
    </form>
    <img
      class='avatar'
      src='https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff'
    />
    <p class='username'>Иван</p>

    <ul class='user-info__list profile-data'>
      {{#each info}}
        {{{this}}}
      {{/each}}
    </ul>

    <form class='profile-form__data shadow'>
      {{#each inputs}}
        {{{this}}}
      {{/each}}
    </form>

    <form class='profile-form__password shadow'>
      {{#each password}}
        {{{this}}}
      {{/each}}
    </form>

    <div class='actions'>
      {{{changeProfile}}}
      {{{changePassword}}}
      {{{logout}}}
    </ul>
  </section>
</main>